* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto';
}

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

a[href='#main'] {
	position:absolute;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index:-10;
	opacity: 0;
 }
 a[href='#main']:focus,
 a[href='#main']:active {
	color: #fff;
	background-color:#000;
	top: auto;
	width: 30%;
	height: auto;
	overflow:auto;
	z-index:10;
	opacity: 1;
 }

h1 {
	font-family: Ampersand, Helvetica, sans-serif;
}

section nav h1 {
	background: #0074D9;
	text-align: center;
	padding: 1rem 0;
	color: white;
	font-size: 2rem;
	/* grid-area: title; */
}

section nav {
	/* grid-area: nav; */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
	grid-column: 1/5;
}

section nav ul {
    list-style: none;
    display: flex;
	background: #0074D9;
	justify-content: center;
}

section nav ul li {
	padding: 1rem;
	font-size: 1rem;
}

section nav ul li:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
	position: absolute;
	background: #0074D9;
	text-align: center;
}

section nav ul li:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    margin: 1rem;
}

section>nav>ul>li:nth-of-type(2) ul li {
	list-style: none;
}

section>nav>ul>li:nth-of-type(2) ul li a {
	color: white;
	text-decoration: none;
}

section>nav>ul>li:nth-of-type(2) ul {
    display: none;
    visibility: hidden;
}

section>nav>ul>li:nth-of-type(2):focus-within ul {
    display: block;
    visibility: visible;
    opacity: 1;
}

section>nav>ul>li>a {
	color: white;
	text-decoration: none;
}

section>nav>ul>li>a:focus {
	text-decoration: underline;
}


main article figure {
	font-size: 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

main article figure figcaption {
	padding: 2rem;
	font-size: 1rem;
}

main article img {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

main article:nth-child(1) > figure img {
	animation-delay: 1.5s;
}

main article:nth-child(2) > figure img {
	animation-delay: 2s;
}

main article:nth-child(3) > figure img {
	animation-delay: 2.5s;
}

main article:nth-child(4) > figure img {
	animation-delay: 3s;
}

main article:nth-child(5) > figure img {
	animation-delay: 3.5s;
}

main article:nth-child(6) > figure img {
	animation-delay: 4s;
}

article figure figcaption footer {
	margin: 1rem 0;
}

figure figcaption a {
	display: block;
}

img {
    width: 100%;
}

body > footer{
	background-color: blue;
}

input {
	display: block;
}

main > h1 {
	text-align: center;
	margin: 2rem 0;
	font-size: 4rem;
}

body > section > h1 {
	grid-column: 1/5;
	text-align: center;
	margin: 2rem 0;
	font-size: 4rem;
}

body > section > h1 span {
	display: block;
}

ol li {
	list-style:none;
}

#about {
	max-width: 50rem;
	text-align: center;
	margin: 2rem auto;
}

#about h2 {
	font-size: 4rem;
	margin: 2rem 0;
}

@media (min-width: 50rem) {
	section {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}

	main {
		grid-column: 1/5;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
		margin: 0 2rem;
	}

	main article {
		transition: background-color 1000ms linear;
	}

	main article:hover {
		background: rgba(1%, 0%, 0%, 0.1);
	}

	main > h1 {
		display: block;
		width: 100%;	
	}
}

@media (min-width: 80rem) {
	section {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}

	main {
		grid-column: 1/5;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
		margin: 0 2rem;
	}

	aside {
		background: green;
	}

	main > h1 {
		display: block;
		width: 100%;	
	}
}

:root {
	--transform-value: -100%;
	--animation-duration: 1s;
	--animation-ease: ease-in;
}

@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	
	to {
	  opacity: 1;
	}
  }

[data-animation*='first'] div:first-child, [data-animation*='first'] div:last-child {
	position: fixed;
	width: 50vw;
	height: 100vh;

	top: 0;

	border: .25em solid #a90329;
	background: linear-gradient(to right, #a90329 0%,#a90329 6%,#6d0019 10%,#a90329 14%,#a90329 20%,#6d0019 24%,#a90329 28%,#a90329 34%,#6d0019 38%,#a90329 42%,#a90329 48%,#6d0019 52%,#a90329 56%,#a90329 62%,#6d0019 66%,#a90329 70%,#a90329 76%,#6d0019 80%,#a90329 84%,#a90329 90%,#6d0019 94%,#a90329 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	z-index: 123456;
}

[data-animation*='first'] div:first-child {
    left: 0;

    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
[data-animation*='first'] div:last-child {
    right: 0;

    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}