/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
	font-family: 'Roboto';
}

section nav h1 {
	background: #0074D9;
	text-align: center;
	padding: 1rem 0;
	color: white;
	font-size: 2rem;
}

section nav {
	grid-area: nav;
}

section nav ul {
    list-style: none;
    display: flex;
	background: #0074D9;
	justify-content: center;
}

section nav ul li {
    padding: 1rem;
}

section nav ul li:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
	position: absolute;
	background: #0074D9;
	text-align: center;
}

section nav ul li:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    margin: 1rem;
}

section>nav>ul>li:nth-of-type(2) ul li {
	list-style: none;
}

section>nav>ul>li:nth-of-type(2) ul li a {
	color: white;
	text-decoration: none;
}

section>nav>ul>li:nth-of-type(2) ul {
    display: none;
    visibility: hidden;
}

section>nav>ul>li:nth-of-type(2):focus-within ul {
    display: block;
    visibility: visible;
    opacity: 1;
}

section>nav>ul>li>a {
	color: white;
	text-decoration: none;
}

section>nav>ul>li>a:focus {
	text-decoration: underline;
}

main article {

}

main article figure {
	font-size: 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

main article figure figcaption {
	padding: 2rem;
	font-size: 1rem;
}

img {
    width: 100%;
}

@media (min-width: 800px) {
	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
		'nav nav nav'
		'content content content';
	}
	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 1rem;
		grid-area: content;
	}
	main article {
		width: 46%;
		max-width: 25rem;
		margin: 1rem;
	}
}