* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto';
}

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

h1 {
	font-family: Ampersand, Helvetica, sans-serif;
}

section nav h1 {
	background: #0074D9;
	text-align: center;
	padding: 1rem 0;
	color: white;
	font-size: 2rem;
}

section nav {
	grid-area: nav;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

section nav ul {
    list-style: none;
    display: flex;
	background: #0074D9;
	justify-content: center;
}

section nav ul li {
    padding: 1rem;
}

section nav ul li:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
	position: absolute;
	background: #0074D9;
	text-align: center;
}

section nav ul li:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    margin: 1rem;
}

section>nav>ul>li:nth-of-type(2) ul li {
	list-style: none;
}

section>nav>ul>li:nth-of-type(2) ul li a {
	color: white;
	text-decoration: none;
}

section>nav>ul>li:nth-of-type(2) ul {
    display: none;
    visibility: hidden;
}

section>nav>ul>li:nth-of-type(2):focus-within ul {
    display: block;
    visibility: visible;
    opacity: 1;
}

section>nav>ul>li>a {
	color: white;
	text-decoration: none;
}

section>nav>ul>li>a:focus {
	text-decoration: underline;
}

main article figure {
	font-size: 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

main article figure figcaption {
	padding: 2rem;
	font-size: 1rem;
}

img {
    width: 100%;
}

body > footer{
	background-color: blue;
}

aside {
	grid-area: sidebar;
}

input {
	display: block;
}

main > h1 {
	text-align: center;
}

@media (min-width: 50rem) {
	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
		'nav nav nav'
		'content content content';
	}
	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 1rem;
		grid-area: content;
	}
	main article {
		width: 46%;
		max-width: 20rem;
		margin: 1rem;
	}
}